.has-error > .input-group{
    border: 0.5px solid red;
}
.has-error > i{
    color: red;
}
.mi-alert{
    z-index: 9999999999999999999;
    position: fixed;
    bottom: 0;
    right: 10px;
    display: block;
    clear: both;
    animation: slideUp 1s ease-in;
}

@keyframes slideUp {
    from{
        bottom: -100px;
    }
    to{
        bottom: 0;
    }
}

.whats-btn{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 999999999999999;
    padding: 1%;
    background: green;
    color: white;
    border-radius: 50%;
}
.logo{
    color: #5e72e4 !important;
}
.locale-link::hover{
    background: #444 !important;
}

.main-content .rtl{
 
}
.navbar-vertical.navbar-expand-xs.fixed-right + .main-content {
    margin-right: 250px !important;
}

h3.mb-0.rtl{
    float: right !important;
}